body {
    background-color: lightgreen;
    font-family: Arial, sans-serif;
}
#full-card {
    background-color: white;
    padding: 20px 50px 50px 50px;
    width: 80%;
    margin: auto;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}
input#textfield {
    height: 200px;
}
#submit {
    width: 20%;
    background-color: black;
    height: 40px;
    color: white;
    font-weight: bold;
}